<div class="wrapper">

  <header-bar></header-bar>
  <!-- Left side column. contains the logo and sidebar -->
  <side-bar></side-bar>

  <!-- Content Wrapper. Contains user content -->
  <div class="content-wrapper">
    <!-- Content Header (User header) -->
    <section class="content-header">
      <h1>
        {{Ctrl.title}}
      </h1>
      <ol class="breadcrumb">
        <li><a href="javascript:void(0)"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <!-- /.box-header -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{Ctrl.title}}</h3>
            </div>
            <notification-bar alert-data="Ctrl.notify"></notification-bar>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" ng-submit="Ctrl.saveUser()" name="myForm">
              <div class="box-body">
                <div class="form-group">
                  <label for="Password">Password</label>
                  <input type="password" required name="password" class="form-control"
                  ng-model="Ctrl.password.opassword" placeholder="Enter Password">
                </div>
                <div class="form-group">
                  <label for="Password">New Password</label>
                  <input type="password" required name="npassword" class="form-control"
                  ng-model="Ctrl.password.npassword" placeholder="Enter New Password">
                </div>
                <div class="form-group">
                  <label for="Password">Confirm Password</label>
                  <input type="password" required name="cpassword" class="form-control"
                  ng-model="Ctrl.password.cpassword" placeholder="Enter Confirm Password">
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="button" class="btn btn-default" ng-click="myForm.reset()">Reset</button>
                </div>
            </form>
            </div>
            <!-- /.box-body -->



            <!-- /.content -->
          </div>
    </section>
    <!-- /.content-wrapper -->

    <footer-bar></footer-bar>
    </div>
    </div>
    <!-- ./wrapper -->
