<div class="wrapper">

  <header-bar></header-bar>
  <!-- Left side column. contains the logo and sidebar -->
  <side-bar></side-bar>
  <style>
    .box-body
    {
      overflow-x:scroll;
    }
  </style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{Ctrl.title}}
      </h1>
      <ol class="breadcrumb">
        <li><a href="javascript:void(0)"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <!-- /.box-header -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{Ctrl.title}}</h3>
              <h5>All your Order Details will be displayed here.</h5>
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="Collapse">
                  <i class="fa fa-minus"></i></button>
              </div>
            </div>
            <notification-bar alert-data="Ctrl.notify"></notification-bar>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table">
                <thead>
                  <tr>
                    <td>Order ID</td>
                    <td>User Email</td>
                    <td>Payment Date</td>
                    <td>Transaction Id</td>
                    <td>Seller Name</td>

                    <td>Bought Qty</td>
                    <td>Bought Price</td>
                    <td>Payment Type</td>
                    <td>Status</td>
                  </tr>
                  <tr>
                    <td><input type="text" ng-model="Ctrl.search._id._id"></td>
                    <td><input type="text" ng-model="Ctrl.search.user.email"></td>
                    <td><input type="text" ng-model="Ctrl.search.created_at"></td>
                    <td><input type="text" ng-model="Ctrl.search.payment.transaction_id"></td>
                    <td><input type="text" ng-model="Ctrl.search.seller.name"></td>
                    <td><input type="text" ng-model="Ctrl.search.total_qty"></td>
                    <td><input type="text" ng-model="Ctrl.search.total_price"></td>
                    <td><input type="text" ng-model="Ctrl.search.payment.method"></td>
                    <td><input type="text" ng-model="Ctrl.search.product_status"></td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="order in Ctrl.orders | filter:Ctrl.search">
                    <td>{{order._id._id}}</td>
                    <td>{{order.user.email}}</td>
                    <td><p ng-bind="order.created_at | date:'MM/dd/yyyy HH:mm:ss'"></p></td>
                    <td>{{order.payment.transaction_id}}</td>
                    <td>{{order.seller.name}}</td>

                    <td>{{order.total_qty}}</td>
                    <td>{{order.total_price}}</td>
                    <td>{{order.payment.method}}</td>
                    <td>{{order.product_status}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>Order ID</td>
                    <td>User Email</td>
                    <td>Payment Date</td>
                    <td>Transaction Id</td>
                    <td>Seller Name</td>
                    <td>Bought Qty</td>
                    <td>Bought Price</td>
                    <td>Payment Type</td>
                    <td>Status</td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-default" ng-click="Ctrl.init()">Reset</button>
            </div>
          </div>
        </div>

        <!-- /.content -->
      </div>
    </section>
    <!-- /.content-wrapper -->

    <footer-bar></footer-bar>
  </div>
</div>
<!-- ./wrapper -->
