<div class="wrapper">

  <header-bar></header-bar>
  <!-- Left side column. contains the logo and sidebar -->
  <side-bar></side-bar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{PagesEdit.title}}
      </h1>
      <ol class="breadcrumb">
        <li><a href="javascript:void(0)"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <!-- /.box-header -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{PagesEdit.title}}</h3>
            </div>
            <notification-bar alert-data="PagesEdit.notify"></notification-bar>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" ng-submit="PagesEdit.savePage()" name="myForm">
              <div class="box-body">
                <form-input label="Page Name" required name="name" model="PagesEdit.page.name"></form-input>
                <text-area label="Page Description" model="PagesEdit.page.description"></text-area>
                <div class="form-group">
                  <teaxtarea class="form-control"  ck-editor="" ng-model="PagesEdit.page.content"></textarea>
                </div>

              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default" ng-click="myForm.reset()">Reset</button>
              </div>
            </form>
          </div>
          <!-- /.box-body -->


        </div>

        <!-- /.content -->
      </div>
    </section>
    <!-- /.content-wrapper -->

    <footer-bar></footer-bar>
  </div>
</div>
<!-- ./wrapper -->
