 <header>
         <div class="container top">
            <div class="row">
               <div class="col-md-12 signin sign-mobile"> 
                  <a ng-href="#/register">Register</a> | <a ng-href="#/login">Sign in</a>
               </div>
               <div class="col-md-2 col-xs-2" id="logo">  
                  <a ng-href="#/">
                  <img src="styles/uploads/logo/site_logo-1469101296253" alt="" title="" />
                  </a>
               </div>
               <div class="col-md-3 pull-right signin"> 
                  <a  ng-href="#/register">Register</a> <span class="btn">
                  <a  ng-href="#/login">Sign In</a></span> 
               </div>
            </div>
         </div>
      </header>