<style>

.bottom_section
{
  margin-bottom: 7px;
}
.footer_li
{
  display:inline-block;
  padding: 0px 2px;
  color:#3c94d3;
}
.footer_li:after
{
  content:"|";
  padding-left: 4px;
}
.fa_icon
{
  margin:0px 3px;
}
</style>
<div class="wrapper">

  <w3-test-directive></w3-test-directive>

  <sidebar></sidebar>
  <!-- Left side column. contains the logo and sidebar -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <form class="form-horizontal" ng-submit="submit()" role="form" ng-controller="ChangePasswordCtrl">
      <div class="panel panel-default">
          <div class="panel-heading">
              Change Password
          </div>
          <div class="panel-body">
              <div class="content-inner" style="max-width: 500px;margin: 0px auto;padding: 40px;">
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Password</label>
                  <div class="col-sm-6">
                    <input type="password" id="password" required maxlength="30" minlength="6" class="form-control" ng-model="password" id="inputPassword3" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Confirm Password</label>
                  <div class="col-sm-6">
                    <input type="password" id="confirm_password" required maxlength="30" minlength="6" class="form-control" ng-model="confirn_password" id="inputPassword3" placeholder="Confirm Password">
                  </div>
                </div>
                <div class="submit-btn" style="text-align:center;">
                  <button type="submit" required class="btn btn-primary" >Update Password</button>
                </div>
              </div>
          </div>
      </div>
    </form>
    </section>

    <!-- Main content -->
    <section class="content bottom_section">



    </section>
    <footer class="main-footer" style="padding-bottom:100px;" ng-controller ="FooterCtrl">
      <div class="col-lg-4">
        <strong>Copyright &copy; 2014-2016 .</strong> All rights
        reserved.
      </div>
      <div class="col-lg-8 col-xs-12 ">
        <ul>
          <li class="footer_li" ng-repeat ="y in pages">
              <a target="_blank" href="#/content/{{y._id}}">{{y.name}}</a>
            </li>

        </ul>
    </div>
    <div class="col-md-offset-5 col-md-6 col-xs-12 text-right">
      <p>
        <a href="javascript:void(0);">
            <i class="fa fa-android fa_icon"></i>
        </a>
        <a href="javascript:void(0);">
            <i class="fa fa-apple fa_icon"></i>
        </a>
         Download our App Sell on the move, anywhere and anytime via our app
      </p>
    </div>
      <!-- <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.5
      </div> -->


    </footer>
    <!-- /.content -->
  </div>
  <script>
  var password = document.getElementById("password")
, confirm_password = document.getElementById("confirm_password");

  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
  </script>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
