
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp) styles/main.css -->

<link rel="stylesheet" href="styles/main.css">
<style>
  .header
  {
    border-bottom:none;
  }
  .form-horizontal
  {

    margin-top:60px;
    padding:30px;
    max-width: 560px;
    margin: 0px auto;
  }
  .form-control-feedback
  {
    top: 10px;
  }
  .form-group
  {
    margin-bottom: 4px !important;
  }
  .action
  {
    margin-top:10px;
  }
  .reset_pwd
  {
    margin-bottom: 10px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }
  .form-control
  {
    width: 95% !important;
    margin-left:16px !important;
  }
</style>
<div class="header">
  <div class="alert alert-success" ng-show="forgot_message" >
    <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Please check you Email.
  </div>
  <div class="navbar navbar-default" role="navigation">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="javascript:void(0)">Seller Dashboard</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
        </ul>
      </div>


  </div>
</div>
  <div class="container-fluid">
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
  <form class="form-horizontal" ng-submit="submit()" role="form" ng-controller="ForgotPasswordCtrl">
  <p class="lead reset_pwd">Enter your registered E-Mail ID to reset password</p>
  <div class="form-group has-feedback">
    <input  class="form-control" required id="inputName3" ng-model="email" placeholder="Email" />
     <i class="fa fa-envelope form-control-feedback"></i>
  </div>

  <div class="action clearfix">
    <a href="#/seller">Go Back to Login</a>
    <button type="submit" class="btn btn-primary pull-right">Recover</button>
  </div>

    <!-- <h3 style="text-align:center;margin-bottom:30px;">Forgot Password </h3>
      <div class="form-group">
        <label for="inputName3" class="col-sm-4 control-label"> Email</label>
        <div class="col-sm-6">
          <input class="form-control" required id="inputName3" ng-model="email" placeholder="Email">
        </div>
      </div>


      <div class="form-group">
        <div class="sign-in-btn" style="text-align:center;padding-top:15px;">
          <button type="submit" class="btn btn-success">Forgot Password</button>
          <a href="#/seller" class="btn btn-danger">Cancel</a>
        </div>
      </div> -->
    </form>
  </div>
