

  <style>
body{
overflow-x:hidden;
}
.outer{
  margin:10px;
  background-color:#fff;
}
.nav>li>a{
  padding: 10px 35.2px;
}
.nav{
    border: 1px solid #f5f5f5;
  border-radius: 2px;
  background-color: #f5f5f5;
  max-width: 625;
}
pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #337ab7;
  border-radius: 1px;
}
.nav-pills>li>a{
border-radius:1px;
}
a{
color:#000;
}
a:hover{
color:#000;
}
.inner-container{
max-width: 1556px;
margin:0px auto;
}
.tab-content{
border: 1px solid #f1f1f1;
border-top-color: #fff;
padding:20px 40px;
}
.primary-button{
  border-radius:2px;
}
.active-inner{
  padding-top:30px;
}
.active-inner{
  margin-top:30px;
}
.border-section{
  margin-top:20px;
  border:1px solid #f5f5f5;
  border-radius:2px;
  padding:30px 2px;
}
@media(max-width: 488px){
  .border-section{
    padding:0px;
    padding-top:10px;
  }
}
.img-col{
  padding-left:60px;
}
@media(max-width: 768px){
.img-col
  {
    padding-left:15px;
  }
}
.nxt-btn{
  margin-top:15px;
}
.toggle{
  display:none;
}
.lead
{
  color:#e15f26;
}
.footer_li
{
  display:inline-block;
  padding: 0px 2px;
  color:#3c94d3;
}
.footer_li:after
{
  content:"|";
  padding-left: 4px;
}
.fa_icon
{
  margin:0px 3px;
}
</style>
<div class="wrapper">

  <w3-test-directive></w3-test-directive>
  <sidebar></sidebar>
  <!-- Left side column. contains the logo and sidebar -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" >
    <div class="alert alert-success toggle" id="toggle">
      <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <div id="message"></div>
    </div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
    Track Shipments
      </h1>
      <div class="outer">
        <div class="container-fluid clearfix" style="padding:0px;">
           <div class="inner-container">
          <ul class="nav nav-pills col-md-12" style="padding:0px;text-align:center;">
             <li class="col-md-3" style="padding:0px;margin-left:0px;"><a class="btn btn-default" data-toggle="pill" href="#/order_yet_to_shipped" data-target="#inactive_product">Yet to be Shipped</a></li>
            <li class="col-md-2" style="padding:0px;margin-left:0px;"><a class="btn btn-default" data-toggle="pill" href="#/order_pick_up" data-target="#product">Pick up Scheduled</a></li>
            <li class="col-md-2" style="padding:0px;margin-left:0px;"><a class="btn btn-default" data-toggle="pill" href="#/order_shipped" data-target="#inactive_product">Shipped</a></li>
            <li class="col-md-2" style="padding:0px;margin-left:0px;"><a class="btn btn-default" data-toggle="pill" href="#/order_delivered" data-target="#inactive_product">Delivered</a></li>
            <li class="active col-md-3" style="padding:0px;margin-left:0px;"><a class="btn btn-default" data-toggle="pill" href="#/order_returned" data-target="#inactive_product">Returned</a></li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active clearfix">
              <p class="lead text-center">
                Displayed are the items that have been Returned by the customer.<br/>
              If a returned item is added to the inventory, You would need to manually update the respective product inventory <a href="#/yet_to_be_approved" target="_blank"  >( Cick HERE to do that )</a>
            </p>
                <div class="active-inner clearfix" >
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-3 col-sm-3 img-col" style="">
                        <b>Order Id</b>
                      </div>

                      <div class="col-md-1 col-sm-1" >
                        <b>Quantity</b>
                      </div>
                      <div class="col-md-1 col-sm-1">
                        <b>Price</b>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <b>Returned Reason</b>
                      </div>
                      <div class="col-md-2 col-sm-2" style="text-align:center;">
                        <b>Date</b>
                      </div>

                    </div>
                  </div>
                  <div ng-repeat ="o in orders">
                  <div class="border-section" id={{o_.id}}>
                    <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-3">
                      {{o._id}}
                      </div>

                      <div class="col-md-1">
                      {{o.quantity}}
                      </div>
                      <div class="col-md-1">
                        {{o.price}}
                      </div>
                      <div class="col-md-2">
                        {{o.returned_reason}}
                      </div>
                      <div class="col-md-2" style="text-align:center;">
                       <p ng-bind="o.products[0].updated_at | date:'MM/dd/yyyy HH:mm:ss'"></p>
                      </div>
                      <div class="col-md-2" style="text-align:center;">
                         <a data="{{o._id}}" ng-click="view_single_product(o._id)" style="cursor:pointer;">View</a>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>

                </div>
            </div>

          </div>
          </div>
        </div><!--container-->
      </div><!--outer-->

    </section>

    <!-- Main content -->
    <section class="content" style="margin-bottom:50px;">


    </section>
    <footer class="main-footer" style="padding-bottom:100px;" ng-controller ="FooterCtrl">
      <div class="col-lg-4">
        <strong>Copyright &copy; 2014-2016 .</strong> All rights
        reserved.
      </div>
      <div class="col-lg-8 col-xs-12 ">
        <ul>
          <li class="footer_li" ng-repeat ="y in pages">
              <a target="_blank" href="#/content/{{y._id}}">{{y.name}}</a>
            </li>

        </ul>
    </div>
    <div class="col-md-offset-5 col-md-6 col-xs-12 text-right">
      <p>
        <a href="javascript:void(0);">
            <i class="fa fa-android fa_icon"></i>
        </a>
        <a href="javascript:void(0);">
            <i class="fa fa-apple fa_icon"></i>
        </a>
         Download our App Sell on the move, anywhere and anytime via our app
      </p>
    </div>
      <!-- <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.5
      </div> -->


    </footer>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->




</div>
