


<header-bar></header-bar>
<title>	{{about.page.name}}
</title>


<div class="heading-banner" style="background:rgba(0,0,0,0) url({{header.admin.overall_banner.cdn.url}}) repeat scroll 0 0!important;margin-top:0!important" >

<div class="container">

<div class="row">

<div class="col-lg-12">

<div class=" k-padding text-center">

<div class="page-banner-title"><h2>{{about.page.name}}</h2>
</div>
</div>

<div class="breadcam">
<ul>
<li><a href="#/">Home</a></li>
<li><i class="fa fa-angle-right"></i><a href="#">{{about.page.name}}</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>

<div class="about-us-area k-padding">

<div class="container" ng-bind-html="about.page.content">
</div>
</div><footer-bar></footer-bar>
